
<ion-content [fullscreen]="true">
  

  <div class="container">
    <ion-header >
      <div class="head">
       <p> <a  [routerLink]="['/pro']"><img src="../../assets/icons8-chevron-left-200.png"></a><img src="../../assets/Group 4.png">
      <span class="spans">Sub</span></p>
      </div>
      
        
    </ion-header>

   <ion-card>
    

    <ion-card-content>
      <form action="#" method="post">
  

        <div class="containers">
          
          <input class="blur" type="text" placeholder="Card Name" name="uname" required>
      
         
          <input class="blur" type="password" placeholder="Card no" name="psw" required>

          <input class="blurs" type="password" placeholder="Expiry" name="psw" required> 
          <input class="blurs" type="password" placeholder="CVV" name="psw" required> 
            

         
          
        </div>
      
       
      </form> </ion-card-content>
   </ion-card>

   
<div class="but"><ion-button class="btn" [routerLink]="['/pro']" >BACK</ion-button>
 
  <ion-button class="btn1" [routerLink]="['/check']">PAY</ion-button> </div>
   
 



  
  
  </div>
 
</ion-content>