
<ion-content [fullscreen]="true">
  

  <div class="container">
    <ion-header >
      <div class="head">
       <p> <a  [routerLink]="['/sub']"><img src="../../assets/icons8-chevron-left-200.png"></a><img src="../../assets/Group 4.png">
      <span class="spans">Paid</span></p>
      </div>
      
        
    </ion-header>

   <ion-card>
    <ion-card-header>
      Thank You
      
    </ion-card-header>

    <ion-card-content>
      

      <h5>We hope that you enjoy watching amazing footage from all over the globe.</h5>
    </ion-card-content>
   </ion-card>

   

   <ion-button class="btn" [routerLink]="['/home']" >Watch Now</ion-button>
 
   
 



  
  
  </div>
 
</ion-content>