
<ion-content [fullscreen]="true">
  

  <div class="container">
    <ion-header >
      <div class="head">
       <p> <a  [routerLink]="['/verify']"><img src="../../assets/icons8-chevron-left-200.png"></a><img src="../../assets/Group 4.png">
      <span class="spans">Pro Acc</span></p>
      </div>
      
        
    </ion-header>

   <ion-card>
    <ion-card-header>
      Unlock All Aceess
      <p class="text">Watch unlimited videos around</p>
    </ion-card-header>

    <ion-card-content>
      <h1>icon</h1>

      <h5>This subscription automatically renews for R29.99 a month after the 30 day trial. You can cancel at anytime. By signing up for a free trial, you agree to Drone Eye Technology’s Terms of Service and Privacy Policy.</h5>
    </ion-card-content>
   </ion-card>

   

   <ion-button class="btn" [routerLink]="['/sub']" >SUBSCRIBE</ion-button>
 
   <ion-button class="btn1" [routerLink]="['/login']">SIGN IN</ion-button>
 



  
  
  </div>
 
</ion-content>