
 <ion-header collapse="condense">
    
</ion-header>
<ion-content [fullscreen]="true">
  

  <div class="container">

   <ion-card>
     <ion-card-header>
       <img src="../../assets/logo.png" alt="logo">
       <ion-card-title>
         
       </ion-card-title>
     </ion-card-header>

     <ion-card-content>
       
     </ion-card-content>
   </ion-card>
   <ion-button class="btn" [routerLink]="['/register']" >Sign Up</ion-button>
   <ion-button class="btn1" [routerLink]="['/login']">Log In</ion-button>

    
 



  
  
  </div>
 
</ion-content>
