
<ion-content [fullscreen]="true">
  

  <div class="container">
    <ion-header >
      <div class="head">
       <p> <a  [routerLink]="['/register']"><img src="../../assets/icons8-chevron-left-200.png"></a><img src="../../assets/Group 4.png">
      <span class="spans">Verify Acc</span></p>
      </div>
      
        
    </ion-header>

   <ion-card>
    <ion-card-header>
      Enter The OTP code
      <ion-card-title>
        
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
    </ion-card-content>
   </ion-card>

   

   <ion-button class="btn" [routerLink]="['/pro']" >Verify</ion-button>
 



  
  
  </div>
 
</ion-content>